.vscode/**
.vscode-test/**
.project
.classpath
.settings/**
src/**
scripts/**
docs/**
test/**
test-workspace/**
out/test/**
.gitignore
.github/**
**/*.map
.eslintrc.json
.prettierrc
.pre-commit-config.yaml
tsconfig.json
node_modules/**
**/*.ts
!**/*.d.ts
.yarnrc
